/* General styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: #333;
  }
  
  .wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
  }
  
  a {
	text-decoration: none;
	color: #4f3ccd;
  }
  
  a:hover {
	color: #0077cc;
  }
  
   /* Header styles */
   .site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	height:  80px;
  }
  
  .site-logo {
	height: 80px;
  }
  
  .site-nav {
	display: flex;
  }
  
  .site-nav a {
	margin-right: 20px;
	color: #333;
  }
  
  
  /* Main styles */
  h1, h2 {
    margin-top: 0;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Footer styles */
  footer {
    margin-top: 50px;
    text-align: center;
    color: #666;
  }
  
  .whole {
    display: flex;
  }
  
  .visual {
    width: 80%;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: rgb(87, 87, 87) 1px solid;
}

.links li {
    display: flex;
    justify-content:left;
    margin: 10px 0;
}

.links li img {
    height: 50px;
    width: auto;
}

.links li a {
    color: #333;
}